[submodule "compatibility-kit"]
	path = compatibility-kit
	url = https://github.com/cucumber/compatibility-kit.git
[submodule "ci-environment"]
	path = ci-environment
	url = https://github.com/cucumber/ci-environment.git
[submodule "gherkin"]
	path = gherkin
	url = https://github.com/cucumber/gherkin.git
