sudo: false
language: python
python: "3.4"
env:
  matrix:
    - TESTENV=linters
    - TESTENV=py27
    - TESTENV=py27-xdist
    - TESTENV=py27-pytest-latest
    - TESTENV=py34
    - TESTENV=coveralls
install:
  - pip install tox
script: tox -e $TESTENV --recreate
branches:
  except:
    - /^\d/
notifications:
  email:
  - bubenkoff@gmail.com
  - oleg.pidsadnyi@gmail.com
